<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class = "table">
        <thead>
            <tr>
                <th>Diagnostico</th>
                <th>Tratamiento</th>
                <th>Fecha</th>
                <th>Enviar</th>
            </tr>
        </thead>
        <tbody>
            <form action= "window.location.href + '/nueva-historia/'" method="POST">
                <tr>
                    <td><input type="text" name="diagnostico" id="diagnostico" value = ""></td>
                    <td><input type="text" name="tratamiento" id="tratamiento" value = ""></td>
                    <td><input type="text" name="fecha" id="fecha" value = ""></td>
                    <td><input type="submit" value = "Guardar" onClick= "window.location.href='/'"></td>
                </tr>
            </form>
        </tbody>
    </table>
</body>
</html>